<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
</head>
<body>
    <head th:replace="~{index :: head}">
    </head>


    <main>
        <div class="container">
           
            <form th:object="${alumno}" th:action="@{/alumno/guardar}" method="post">
                <div class="row d-flex justify-content-center mt-5">
                    <div class="col-lg-8">
                        <div class="card p-5">
                            <h3 class="text-center my-3">Editar alumno</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="apellido" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="apellido" th:field="*{apellido}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="dni" class="form-label">DNI</label>
                                        <input type="text" class="form-control" id="dni" th:field="*{dni}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="correo" class="form-label">Correo</label>
                                        <input type="email" class="form-control" id="correo" th:field="*{correo}" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="direccion" class="form-label">Dirección</label>
                                        <input type="text" class="form-control" id="direccion" th:field="*{direccion}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                       
                        
                        
                        
                      
                       
                      
                    </div>
                </div>
               
            </form>
        </div>
       
    </main>

    <footer  th:replace="~{index :: footer}">
    </footer>
</body>
</html>